<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.remigalvez.chappstick" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MessagingActivity"
            android:label="@string/title_activity_messaging"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name=".activity.HomescreenActivity"
            android:label="@string/title_activity_homescreen" >
        </activity>
        <activity
            android:name=".activity.SignupActivity"
            android:label="@string/title_activity_signup" >
        </activity>
    </application>

</manifest>
