<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.remigalvez.chappstick" >

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-feature
        android:name="android.hardware.sensor.accelerometer"
        android:required="false"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MessagingActivity"
            android:label="@string/title_activity_messaging"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name=".activity.HomescreenActivity"
            android:label="@string/title_activity_homescreen" >
        </activity>
        <activity
            android:name=".activity.SignupActivity"
            android:label="@string/title_activity_signup"
            android:windowSoftInputMode="stateVisible|adjustResize" >
        </activity>
        <activity
            android:name=".activity.SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name=".activity.AddAppsActivity"
            android:label="@string/title_activity_add_apps" >
        </activity>
        <activity
            android:name=".activity.DeleteAppsActivity"
            android:label="@string/title_activity_delete_apps" >
        </activity>
    </application>

</manifest>
